# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule ZulipRESTAPI.Api.Messages do
  @moduledoc """
  API calls for all endpoints tagged `Messages`.
  """

  alias ZulipRESTAPI.Connection
  import ZulipRESTAPI.RequestBuilder


  @doc """
  Add an emoji reaction
  Add an [emoji reaction](/help/emoji-reactions) to a message.  `POST {{ api_url }}/v1/messages/{message_id}/reactions` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - message_id (integer()): The target message's ID. 
  - emoji_name (String.t): The target emoji's human-readable name.  To find an emoji's name, hover over a message to reveal three icons on the right, then click the smiley face icon. Images of available reaction emojis appear. Hover over the emoji you want, and note that emoji's text name. 
  - opts (KeywordList): [optional] Optional parameters
    - :emoji_code (String.t): A unique identifier, defining the specific emoji codepoint requested, within the namespace of the `reaction_type`.  For most API clients, you won't need this, but it's important for Zulip apps to handle rare corner cases when adding/removing votes on an emoji reaction added previously by another user.  If the existing reaction was added when the Zulip server was using a previous version of the emoji data mapping between Unicode codepoints and human-readable names, sending the `emoji_code` in the data for the original reaction allows the Zulip server to correctly interpret your upvote as an upvote rather than a reaction with a \"diffenent\" emoji. 
    - :reaction_type (String.t): If an app is adding/removing a vote on an existing reaction, it should pass this parameter using the value the server provided for the existing reaction for specificity.  Supported values:  * `unicode_emoji`: Unicode emoji (`emoji_code` will be its Unicode codepoint). * `realm_emoji`: Custom emoji. (`emoji_code` will be its ID). * `zulip_extra_emoji`: Special emoji included with Zulip.  Exists to    namespace the `zulip` emoji.  **Changes**: In Zulip 3.0 (feature level 2), this become optional for [custom emoji](/help/add-custom-emoji); previously, this endpoint assumed `unicode_emoji` if this parameter was not specified. 
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec add_reaction(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, ZulipRESTAPI.Model.CodedError.t} | {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def add_reaction(connection, message_id, emoji_name, opts \\ []) do
    optional_params = %{
      :"emoji_code" => :query,
      :"reaction_type" => :query
    }
    %{}
    |> method(:post)
    |> url("/messages/#{message_id}/reactions")
    |> add_param(:query, :"emoji_name", emoji_name)
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.CodedError{}}
    ])
  end

  @doc """
  Check if messages match a narrow
  Check whether a set of messages match a [narrow](/api/construct-narrow).  `GET {{ api_url }}/v1/messages/matches_narrow`  For many common narrows (E.g. a topic), clients can write an efficient client-side check to determine whether a newly arrived message belongs in the view.  This endpoint is designed to allow clients to handle more complex narrows for which the client does not (or in the case of full-text search, cannot) implement this check.  The format of the `match_subject` and `match_content` objects is designed to match those of `GET /messages`, so that a client can splice these fields into a `message` object received from `GET /events` and end up with an extended message object identical to how a `GET /messages` for the current narrow would have returned the message. 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - msg_ids ([integer()]): List of IDs for the messages to check.
  - narrow ([map()]): A structure defining the narrow to check against. See how to [construct a narrow](/api/construct-narrow).
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, AnyType} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec check_messages_match_narrow(Tesla.Env.client, list(Integer.t), list(Map.t), keyword()) :: {:ok, ZulipRESTAPI.Model.AnyType.t} | {:error, Tesla.Env.t}
  def check_messages_match_narrow(connection, msg_ids, narrow, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/messages/matches_narrow")
    |> add_param(:query, :"msg_ids", msg_ids)
    |> add_param(:query, :"narrow", narrow)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.AnyType{}}
    ])
  end

  @doc """
  Delete a message
  Permanently delete a message.  `DELETE {{ api_url }}/v1/messages/{msg_id}`  This API corresponds to the [delete a message completely][delete-completely] feature documented in the Zulip Help Center.  [delete-completely]: /help/edit-or-delete-a-message#delete-a-message-completely 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - message_id (integer()): The target message's ID. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec delete_message(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.OneOfobjectobject.t} | {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def delete_message(connection, message_id, _opts \\ []) do
    %{}
    |> method(:delete)
    |> url("/messages/#{message_id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.OneOfobjectobject{}}
    ])
  end

  @doc """
  Get public temporary URL
  Get a temporary URL for access to the file that doesn't require authentication. 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - realm_id_str (integer()): The realm id. 
  - filename (String.t): Path to the URL. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_file_temporary_url(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def get_file_temporary_url(connection, realm_id_str, filename, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/user_uploads/#{realm_id_str}/#{filename}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}}
    ])
  end

  @doc """
  Get a message's edit history
  Fetch the message edit history of a previously edited message.  `GET {{ api_url }}/v1/messages/{message_id}/history`  Note that edit history may be disabled in some organizations; see the [Zulip Help Center documentation on editing messages][edit-settings].  [edit-settings]: /help/view-a-messages-edit-history 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - message_id (integer()): The target message's ID. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_message_history(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.InvalidMessageError.t} | {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def get_message_history(connection, message_id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/messages/#{message_id}/history")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}},
      { 400, %ZulipRESTAPI.Model.InvalidMessageError{}}
    ])
  end

  @doc """
  Get messages
  Fetch message history from a Zulip server.  `GET {{ api_url }}/v1/messages`  This `GET /api/v1/messages` endpoint is the primary way to fetch message history from a Zulip server.  It is useful both for Zulip clients (e.g. the web, desktop, mobile, and terminal clients) as well as bots, API clients, backup scripts, etc.  By specifying a [narrow filter](/api/construct-narrow), you can use this endpoint to fetch the messages matching any search query that is supported by Zulip's powerful full-text search backend.  When a narrow is not specified, it can be used to fetch a user's message history. (We recommend paginating to 1000 messages at a time.)  In either case, you specify an `anchor` message (or ask the server to calculate the first unread message for you and use that as the anchor), as well as a number of messages before and after the anchor message.  The server returns those messages, sorted by message ID, as well as some metadata that makes it easy for a client to determine whether there are more messages matching the query that were not returned due to the `num_before` and `num_after` limits.  We recommend using `num_before <= 1000` and `num_after <= 1000` to avoid generating very large HTTP responses. A maximum of 5000 messages can be obtained per request; attempting to exceed this will result in an error. 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - num_before (integer()): The number of messages with IDs less than the anchor to retrieve. 
  - num_after (integer()): The number of messages with IDs greater than the anchor to retrieve. 
  - opts (KeywordList): [optional] Optional parameters
    - :anchor (OneOfstringinteger): Integer message ID to anchor fetching of new messages. Supports special string values for when the client wants the server to compute the anchor to use:  * `newest`: The most recent message. * `oldest`: The oldest message. * `first_unread`: The oldest unread message matching the   query, if any; otherwise, the most recent message.  The special values of `'newest'` and `'oldest'` are also supported for anchoring the query at the most recent or oldest messages.  **Changes**: String values are new in Zulip 3.0 (feature level 1).  The   `first_unread` functionality was supported in Zulip 2.1.x   and older by not sending anchor and using use_first_unread_anchor.    In Zulip 2.1.x and older, `oldest` can be emulated with   `anchor=0`, and `newest` with `anchor=10000000000000000`   (that specific large value works around a bug in Zulip   2.1.x and older in the `found_newest` return value). 
    - :narrow ([map()]): The narrow where you want to fetch the messages from. See how to [construct a narrow](/api/construct-narrow). 
    - :client_gravatar (boolean()): Whether the client supports computing gravatars URLs.  If enabled, `avatar_url` will be included in the response only if there is a Zulip avatar, and will be `null` for users who are using gravatar as their avatar.  This option significantly reduces the compressed size of user data, since gravatar URLs are long, random strings and thus do not compress well. The `client_gravatar` field is set to `true` if clients can compute their own gravatars. 
    - :apply_markdown (boolean()): If `true`, message content is returned in the rendered HTML format. If `false`, message content is returned in the raw Markdown-format text that user entered. 
    - :use_first_unread_anchor (boolean()): Legacy way to specify `anchor=\"first_unread\"` in Zulip 2.1.x and older.  Whether to use the (computed by the server) first unread message matching the narrow as the `anchor`.  Mutually exclusive with `anchor`.  **Changes**: Deprecated in Zulip 3.0, replaced by `anchor=\"first_unread\"` instead. 
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_messages(Tesla.Env.client, integer(), integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def get_messages(connection, num_before, num_after, opts \\ []) do
    optional_params = %{
      :"anchor" => :query,
      :"narrow" => :query,
      :"client_gravatar" => :query,
      :"apply_markdown" => :query,
      :"use_first_unread_anchor" => :query
    }
    %{}
    |> method(:get)
    |> url("/messages")
    |> add_param(:query, :"num_before", num_before)
    |> add_param(:query, :"num_after", num_after)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}}
    ])
  end

  @doc """
  Get a message's raw Markdown
  Get the raw content of a message.  `GET {{ api_url }}/v1/messages/{msg_id}`  This is a rarely-used endpoint relevant for clients that primarily work with HTML-rendered messages but might need to occasionally fetch the message's raw Markdown (e.g. for pre-filling a message-editing UI). 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - message_id (integer()): The target message's ID. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_raw_message(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.InvalidMessageError.t} | {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def get_raw_message(connection, message_id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/messages/#{message_id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}},
      { 400, %ZulipRESTAPI.Model.InvalidMessageError{}}
    ])
  end

  @doc """
  Mark all messages as read
  Marks all of the current user's unread messages as read.  `POST {{ api_url }}/v1/mark_all_as_read` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec mark_all_as_read(Tesla.Env.client, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def mark_all_as_read(connection, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/mark_all_as_read")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}}
    ])
  end

  @doc """
  Mark messages in a stream as read
  Mark all the unread messages in a stream as read. 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - stream_id (integer()): The ID of the stream to access. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec mark_stream_as_read(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def mark_stream_as_read(connection, stream_id, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/mark_stream_as_read")
    |> add_param(:query, :"stream_id", stream_id)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}}
    ])
  end

  @doc """
  Mark messages in a topic as read
  Mark all the unread messages in a topic as read. 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - stream_id (integer()): The ID of the stream to access. 
  - topic_name (String.t): The name of the topic whose messages should be marked as read. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec mark_topic_as_read(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def mark_topic_as_read(connection, stream_id, topic_name, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/mark_topic_as_read")
    |> add_param(:query, :"stream_id", stream_id)
    |> add_param(:query, :"topic_name", topic_name)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}}
    ])
  end

  @doc """
  Remove an emoji reaction
  Remove an [emoji reaction](/help/emoji-reactions) from a message.  `DELETE {{ api_url }}/v1/messages/{message_id}/reactions` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - message_id (integer()): The target message's ID. 
  - opts (KeywordList): [optional] Optional parameters
    - :emoji_name (String.t): The target emoji's human-readable name.  To find an emoji's name, hover over a message to reveal three icons on the right, then click the smiley face icon. Images of available reaction emojis appear. Hover over the emoji you want, and note that emoji's text name. 
    - :emoji_code (String.t): A unique identifier, defining the specific emoji codepoint requested, within the namespace of the `reaction_type`.  For most API clients, you won't need this, but it's important for Zulip apps to handle rare corner cases when adding/removing votes on an emoji reaction added previously by another user.  If the existing reaction was added when the Zulip server was using a previous version of the emoji data mapping between Unicode codepoints and human-readable names, sending the `emoji_code` in the data for the original reaction allows the Zulip server to correctly interpret your upvote as an upvote rather than a reaction with a \"diffenent\" emoji. 
    - :reaction_type (String.t): If an app is adding/removing a vote on an existing reaction, it should pass this parameter using the value the server provided for the existing reaction for specificity.  Supported values:  * `unicode_emoji`: Unicode emoji (`emoji_code` will be its Unicode codepoint). * `realm_emoji`: Custom emoji. (`emoji_code` will be its ID). * `zulip_extra_emoji`: Special emoji included with Zulip.  Exists to    namespace the `zulip` emoji.  **Changes**: In Zulip 3.0 (feature level 2), this become optional for [custom emoji](/help/add-custom-emoji); previously, this endpoint assumed `unicode_emoji` if this parameter was not specified. 
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec remove_reaction(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.CodedError.t} | {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def remove_reaction(connection, message_id, opts \\ []) do
    optional_params = %{
      :"emoji_name" => :query,
      :"emoji_code" => :query,
      :"reaction_type" => :query
    }
    %{}
    |> method(:delete)
    |> url("/messages/#{message_id}/reactions")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.CodedError{}}
    ])
  end

  @doc """
  Render message
  Render a message to HTML.  `POST {{ api_url }}/v1/messages/render` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - content (String.t): The content of the message. Maximum message size of 10000 bytes. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec render_message(Tesla.Env.client, String.t, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def render_message(connection, content, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/messages/render")
    |> add_param(:query, :"content", content)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}}
    ])
  end

  @doc """
  Send a message
  Send a stream or a private message.  `POST {{ api_url }}/v1/messages` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - type (String.t): The type of message to be sent. `private` for a private message and `stream` for a stream message. 
  - to ([integer()]): For stream messages, either the name or integer ID of the stream. For private messages, either a list containing integer user IDs or a list containing string email addresses.  **Changes**: Support for using user/stream IDs was added in Zulip 2.0.0. 
  - content (String.t): The content of the message. Maximum message size of 10000 bytes. 
  - opts (KeywordList): [optional] Optional parameters
    - :topic (String.t): The topic of the message. Only required for stream messages (`type=\"stream\"`), ignored otherwise.  Maximum length of 60 characters.  **Changes**: New in Zulip 2.0.  Previous Zulip releases encoded this as `subject`, which is currently a deprecated alias. 
    - :queue_id (String.t): For clients supporting [local echo](https://zulip.readthedocs.io/en/latest/subsystems/sending-messages.html#local-echo), the [event queue](/api/register-queue) ID for the client.  If passed, `local_id` is required.  If the message is successfully sent, the server will include `local_id` in the `message` event that the client with this `queue_id` will receive notifying it of the new message via [`GET /events`](/api/get-events).  This lets the client know unambiguously that it should replace the locally echoed message, rather than adding this new message (which would be correct if the user had sent the new message from another device). 
    - :local_id (String.t): For clients supporting local echo, a unique string-format identifier chosen freely by the client; the server will pass it back to the client without inspecting it, as described in the `queue_id` description. 
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec send_message(Tesla.Env.client, String.t, list(Integer.t), String.t, keyword()) :: {:ok, ZulipRESTAPI.Model.OneOfobjectobject.t} | {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def send_message(connection, type, to, content, opts \\ []) do
    optional_params = %{
      :"topic" => :query,
      :"queue_id" => :query,
      :"local_id" => :query
    }
    %{}
    |> method(:post)
    |> url("/messages")
    |> add_param(:query, :"type", type)
    |> add_param(:query, :"to", to)
    |> add_param(:query, :"content", content)
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}},
      { 400, %ZulipRESTAPI.Model.OneOfobjectobject{}}
    ])
  end

  @doc """
  Edit a message
  Edit/update the content or topic of a message.  `PATCH {{ api_url }}/v1/messages/{msg_id}`  `{msg_id}` in the above URL should be replaced with the ID of the message you wish you update.  You can [resolve topics](/help/resolve-a-topic) by editing the topic to `✔ {original_topic}`.  **Note**: See [configuring message editing][config-message-editing] for detailed documentation on when users are allowed to edit topics.  [config-message-editing]: /help/configure-message-editing-and-deletion 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - message_id (integer()): The target message's ID. 
  - opts (KeywordList): [optional] Optional parameters
    - :topic (String.t): The topic to move the message(s) to, to request changing the topic. Should only be sent when changing the topic, and will throw an error if the target message is not a stream message.  Maximum length of 60 characters.  **Changes**: New in Zulip 2.0.  Previous Zulip releases encoded this as `subject`, which is currently a deprecated alias. 
    - :propagate_mode (String.t): Which message(s) should be edited: just the one indicated in `message_id`, messages in the same topic that had been sent after this one, or all of them.  Only the default value of `change_one` is valid when editing only the content of a message.  This parameter determines both which messages get moved and also whether clients that are currently narrowed to the topic containing the message should navigate or adjust their compose box recipient to point to the post-edit stream/topic. 
    - :send_notification_to_old_thread (boolean()): Whether to send breadcrumb message to the old thread to notify users where the messages were moved to.  **Changes**: New in Zulip 3.0 (feature level 9). 
    - :send_notification_to_new_thread (boolean()): Whether to send a notification message to the new thread to notify users where the messages came from.  **Changes**: New in Zulip 3.0 (feature level 9). 
    - :content (String.t): The content of the message. Maximum message size of 10000 bytes. 
    - :stream_id (integer()): The stream ID to move the message(s) to, to request moving messages to another stream.  Should only be sent when changing the stream, and will throw an error if the target message is not a stream message. 
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec update_message(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.CodedError.t} | {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def update_message(connection, message_id, opts \\ []) do
    optional_params = %{
      :"topic" => :query,
      :"propagate_mode" => :query,
      :"send_notification_to_old_thread" => :query,
      :"send_notification_to_new_thread" => :query,
      :"content" => :query,
      :"stream_id" => :query
    }
    %{}
    |> method(:patch)
    |> url("/messages/#{message_id}")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.CodedError{}}
    ])
  end

  @doc """
  Update personal message flags
  Add or remove personal message flags like `read` and `starred` on a collection of message IDs.  `POST {{ api_url }}/v1/messages/flags`  For updating the `read` flag on common collections of messages, see also the [special endpoints for marking message as read in bulk](/api/mark-all-as-read). 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - messages ([integer()]): An array containing the IDs of the target messages. 
  - op (String.t): Whether to `add` the flag or `remove` it. 
  - flag (String.t): The flag that should be added/removed. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec update_message_flags(Tesla.Env.client, list(Integer.t), String.t, String.t, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def update_message_flags(connection, messages, op, flag, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/messages/flags")
    |> add_param(:query, :"messages", messages)
    |> add_param(:query, :"op", op)
    |> add_param(:query, :"flag", flag)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}}
    ])
  end

  @doc """
  Upload a file
  Upload a single file and get the corresponding URI.  `POST {{ api_url }}/v1/user_uploads`  Initially, only you will be able to access the link.  To share the uploaded file, you'll need to [send a message][send-message] containing the resulting link.  Users who can already access the link can reshare it with other users by sending additional Zulip messages containing the link.  [uploaded-files]: /help/manage-your-uploaded-files [send-message]: /api/send-message 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :filename (String.t): 
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec upload_file(Tesla.Env.client, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def upload_file(connection, opts \\ []) do
    optional_params = %{
      :"filename" => :form
    }
    %{}
    |> method(:post)
    |> url("/user_uploads")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}}
    ])
  end
end
