# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule ZulipRESTAPI.Api.Users do
  @moduledoc """
  API calls for all endpoints tagged `Users`.
  """

  alias ZulipRESTAPI.Connection
  import ZulipRESTAPI.RequestBuilder


  @doc """
  Create a user
  {!can-create-users-only.md!}  Create a new user account via the API.  `POST {{ api_url }}/v1/users` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - email (String.t): The email address of the new user. 
  - password (String.t): The password of the new user. 
  - full_name (String.t): The full name of the new user. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_user(Tesla.Env.client, String.t, String.t, String.t, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonError.t} | {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def create_user(connection, email, password, full_name, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/users")
    |> add_param(:query, :"email", email)
    |> add_param(:query, :"password", password)
    |> add_param(:query, :"full_name", full_name)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}},
      { 400, %ZulipRESTAPI.Model.JsonError{}}
    ])
  end

  @doc """
  Create a user group
  Create a new [user group](/help/user-groups).  `POST {{ api_url }}/v1/user_groups/create` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - name (String.t): The name of the user group. 
  - description (String.t): The description of the user group. 
  - members ([integer()]): An array containing the user IDs of the initial members for the new user group. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_user_group(Tesla.Env.client, String.t, String.t, list(Integer.t), keyword()) :: {:ok, ZulipRESTAPI.Model.JsonError.t} | {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def create_user_group(connection, name, description, members, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/user_groups/create")
    |> add_param(:query, :"name", name)
    |> add_param(:query, :"description", description)
    |> add_param(:query, :"members", members)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.JsonError{}}
    ])
  end

  @doc """
  Deactivate own user
  Deactivates the user's account.  See also the administrative endpoint for [deactivating another user](/api/deactivate-user).  `DELETE {{ api_url }}/v1/users/me`  This endpoint is primarily useful to Zulip clients providing a user settings UI. 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec deactivate_own_user(Tesla.Env.client, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonError.t} | {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def deactivate_own_user(connection, _opts \\ []) do
    %{}
    |> method(:delete)
    |> url("/users/me")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.JsonError{}}
    ])
  end

  @doc """
  Deactivate a user
  [Deactivates a user](https://zulip.com/help/deactivate-or-reactivate-a-user) given their user ID.  `DELETE {{ api_url }}/v1/users/{user_id}` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - user_id (integer()): The target user's ID. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec deactivate_user(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.JsonError.t} | {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def deactivate_user(connection, user_id, _opts \\ []) do
    %{}
    |> method(:delete)
    |> url("/users/#{user_id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.JsonError{}}
    ])
  end

  @doc """
  Get attachments
  Fetch metadata on files uploaded by the requesting user.  `GET {{ api_url }}/v1/attachments` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_attachments(Tesla.Env.client, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def get_attachments(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/attachments")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}}
    ])
  end

  @doc """
  Get own user
  Get basic data about the user/bot that requests this endpoint.  `GET {{ api_url }}/v1/users/me` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_own_user(Tesla.Env.client, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def get_own_user(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/users/me")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}}
    ])
  end

  @doc """
  Get a user
  Fetch details for a single user in the organization.  `GET {{ api_url }}/v1/users/{user_id}`  You can also fetch details on [all users in the organization](/api/get-users) or [by email](/api/get-user-by-email).  *This endpoint is new in Zulip Server 3.0 (feature level 1).* 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - user_id (integer()): The target user's ID. 
  - opts (KeywordList): [optional] Optional parameters
    - :client_gravatar (boolean()): Whether the client supports computing gravatars URLs.  If enabled, `avatar_url` will be included in the response only if there is a Zulip avatar, and will be `null` for users who are using gravatar as their avatar.  This option significantly reduces the compressed size of user data, since gravatar URLs are long, random strings and thus do not compress well. The `client_gravatar` field is set to `true` if clients can compute their own gravatars. 
    - :include_custom_profile_fields (boolean()): Whether the client wants [custom profile field](/help/add-custom-profile-fields) data to be included in the response.  **Changes**: New in Zulip 2.1.0.  Previous versions do no offer these data via the API. 
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_user(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def get_user(connection, user_id, opts \\ []) do
    optional_params = %{
      :"client_gravatar" => :query,
      :"include_custom_profile_fields" => :query
    }
    %{}
    |> method(:get)
    |> url("/users/#{user_id}")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}}
    ])
  end

  @doc """
  Get a user by email
  Fetch details for a single user in the organization given a Zulip display email address.  `GET {{ api_url }}/v1/users/{email}`  Note that this endpoint uses Zulip display emails addresses for organizations that have configured limited [email address visibility](/help/restrict-visibility-of-email-addresses).  You can also fetch details on [all users in the organization](/api/get-users) or [by user ID](/api/get-user).  Fetching by user ID is generally recommended when possible, as users can [change their email address](/help/change-your-email-address).  *This endpoint is new in Zulip Server 4.0 (feature level 39).* 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - email (String.t): The email address of the user whose details you want to fetch. 
  - opts (KeywordList): [optional] Optional parameters
    - :client_gravatar (boolean()): Whether the client supports computing gravatars URLs.  If enabled, `avatar_url` will be included in the response only if there is a Zulip avatar, and will be `null` for users who are using gravatar as their avatar.  This option significantly reduces the compressed size of user data, since gravatar URLs are long, random strings and thus do not compress well. The `client_gravatar` field is set to `true` if clients can compute their own gravatars. 
    - :include_custom_profile_fields (boolean()): Whether the client wants [custom profile field](/help/add-custom-profile-fields) data to be included in the response.  **Changes**: New in Zulip 2.1.0.  Previous versions do no offer these data via the API. 
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_user_by_email(Tesla.Env.client, String.t, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def get_user_by_email(connection, email, opts \\ []) do
    optional_params = %{
      :"client_gravatar" => :query,
      :"include_custom_profile_fields" => :query
    }
    %{}
    |> method(:get)
    |> url("/users/#{email}")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}}
    ])
  end

  @doc """
  Get user groups
  {!api-members-only.md!}  Fetches all of the user groups in the organization.  `GET {{ api_url }}/v1/user_groups` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_user_groups(Tesla.Env.client, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def get_user_groups(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/user_groups")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}}
    ])
  end

  @doc """
  Get user presence
  Get the presence status for a specific user.  This endpoint is most useful for embedding data about a user's presence status in other sites (E.g. an employee directory).  Full Zulip clients like mobile/desktop apps will want to use the main presence endpoint, which returns data for all active users in the organization, instead.  `GET {{ api_url }}/v1/users/{user_id_or_email}/presence`  See [Zulip's developer documentation](https://zulip.readthedocs.io/en/latest/subsystems/presence.html) for details on the data model for presence in Zulip. 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - user_id_or_email (String.t): The user_id or Zulip display email address of the user whose presence you want to fetch.  **Changes**: New in Zulip 4.0 (feature level 43). Previous versions only supported identifying the user by Zulip display email. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_user_presence(Tesla.Env.client, String.t, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def get_user_presence(connection, user_id_or_email, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/users/#{user_id_or_email}/presence")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}}
    ])
  end

  @doc """
  Get all users
  Retrieve details on all users in the organization.  Optionally includes values of [custom profile field](/help/add-custom-profile-fields).  `GET {{ api_url }}/v1/users`  You can also [fetch details on a single user](/api/get-user). 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :client_gravatar (boolean()): Whether the client supports computing gravatars URLs.  If enabled, `avatar_url` will be included in the response only if there is a Zulip avatar, and will be `null` for users who are using gravatar as their avatar.  This option significantly reduces the compressed size of user data, since gravatar URLs are long, random strings and thus do not compress well. The `client_gravatar` field is set to `true` if clients can compute their own gravatars. 
    - :include_custom_profile_fields (boolean()): Whether the client wants [custom profile field](/help/add-custom-profile-fields) data to be included in the response.  **Changes**: New in Zulip 2.1.0.  Previous versions do no offer these data via the API. 
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_users(Tesla.Env.client, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def get_users(connection, opts \\ []) do
    optional_params = %{
      :"client_gravatar" => :query,
      :"include_custom_profile_fields" => :query
    }
    %{}
    |> method(:get)
    |> url("/users")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}}
    ])
  end

  @doc """
  Mute a user
  This endpoint [mutes a user](/help/mute-a-user).  Messages sent by users you've muted will be automatically marked as read and hidden.  `POST {{ api_url }}/v1/users/me/muted_users/{muted_user_id}`  Muted users should be implemented by clients as follows:  * The server will immediately mark all messages sent by the muted   user as read.  This will automatically clear any existing mobile   push notifications related to the muted user. * The server will mark any new messages sent by the muted user as read   for your account, which prevents all email and mobile push notifications. * Clients should exclude muted users from presence lists or other UI   for viewing or composing 1:1 private messages. 1:1 private messages sent by   muted users should be hidden everywhere in the Zulip UI. * Stream messages and group private messages sent by the muted   user should avoid displaying the content and name/avatar,   but should display that N messages by a muted user were   hidden (so that it is possible to interpret the messages by   other users who are talking with the muted user). * Group private message conversations including the muted user   should display muted users as \"Muted user\", rather than   showing their name, in lists of such conversations, along with using   a blank grey avatar where avatars are displayed. * Administrative/settings UI elements for showing \"All users that exist   on this stream or realm\", e.g. for organization   administration or showing stream subscribers, should display   the user's name as normal.  **Changes**: New in Zulip 4.0 (feature level 48). 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - muted_user_id (integer()): The ID of the user to mute/un-mute. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec mute_user(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.OneOfobjectobjectobject.t} | {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def mute_user(connection, muted_user_id, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/users/me/muted_users/#{muted_user_id}")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.OneOfobjectobjectobject{}}
    ])
  end

  @doc """
  Reactivate a user
  [Reactivates a user](https://zulip.com/help/deactivate-or-reactivate-a-user) given their user ID.  `POST {{ api_url }}/v1/users/{user_id}/reactivate` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - user_id (integer()): The target user's ID. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, AnyType} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec reactivate_user(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.AnyType.t} | {:error, Tesla.Env.t}
  def reactivate_user(connection, user_id, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/users/#{user_id}/reactivate")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.AnyType{}}
    ])
  end

  @doc """
  Delete a user group
  Delete a [user group](/help/user-groups).  `DELETE {{ api_url }}/v1/user_groups/{user_group_id}` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - user_group_id (integer()): The ID of the target user group. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec remove_user_group(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.JsonError.t} | {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def remove_user_group(connection, user_group_id, _opts \\ []) do
    %{}
    |> method(:delete)
    |> url("/user_groups/#{user_group_id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.JsonError{}}
    ])
  end

  @doc """
  Set \"typing\" status
  Notify other users whether the current user is typing a message.  `POST {{ api_url }}/v1/typing`  Clients implementing Zulip's typing notifications protocol should work as follows:  * Send a request to this endpoint with `op=\"start\"` when a user starts typing a message,   and also every `TYPING_STARTED_WAIT_PERIOD=10` seconds that the user continues to   actively type or otherwise interact with the compose UI (E.g. interacting with the   compose box emoji picker). * Send a request to this endpoint with `op=\"stop\"` when a user pauses using the   compose UI for at least `TYPING_STOPPED_WAIT_PERIOD=5` seconds or cancels   the compose action (if it had previously sent a \"start\" operation for that   compose action). * Start displaying \"Sender is typing\" for a given conversation when the client   receives an `op=\"start\"` event from the [events API](/api/get-events). * Continue displaying \"Sender is typing\" until they receive an `op=\"stop\"` event   from the [events API](/api/get-events) or `TYPING_STARTED_EXPIRY_PERIOD=15`   seconds have passed without a new `op=\"start\"` event for that conversation. * Clients that support displaying stream typing notifications (new in Zulip 4.0)   should indicate they support processing stream typing events via the   `stream_typing_notifications` in the `client_capabilities` parameter to `/register`.  This protocol is designed to allow the server-side typing notifications implementation to be stateless while being resilient; network failures cannot result in a user being incorrectly displayed as perpetually typing.  See [the typing notification docs](https://zulip.readthedocs.io/en/latest/subsystems/typing-indicators.html) for additional design details on Zulip's typing notifications protocol. 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - op (String.t): Whether the user has started (`start`) or stopped (`stop`) to type. 
  - to ([integer()]): For 'private' type it is the user_ids of the recipients of the message being typed. Send a JSON-encoded list of user_ids. (Use a list even if there is only one recipient.)  For 'stream' type it is a single element list containing ID of stream in which the message is being typed.  **Changes**: Before Zulip 2.0, this parameter accepted only a JSON-encoded list of email addresses.  Support for the email address-based format was removed in Zulip 3.0 (feature level 11). 
  - opts (KeywordList): [optional] Optional parameters
    - :type (String.t): Type of the message being composed. 
    - :topic (String.t): Topic to which message is being typed. Required for the 'stream' type. Ignored in case of 'private' type. 
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec set_typing_status(Tesla.Env.client, String.t, list(Integer.t), keyword()) :: {:ok, ZulipRESTAPI.Model.JsonError.t} | {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def set_typing_status(connection, op, to, opts \\ []) do
    optional_params = %{
      :"type" => :query,
      :"topic" => :query
    }
    %{}
    |> method(:post)
    |> url("/typing")
    |> add_param(:query, :"op", op)
    |> add_param(:query, :"to", to)
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.JsonError{}}
    ])
  end

  @doc """
  Unmute a user
  This endpoint unmutes a user.  `DELETE {{ api_url }}/v1/users/me/muted_users/{muted_user_id}`  **Changes**: New in Zulip 4.0 (feature level 48). 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - muted_user_id (integer()): The ID of the user to mute/un-mute. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec unmute_user(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.OneOfobjectobject.t} | {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def unmute_user(connection, muted_user_id, _opts \\ []) do
    %{}
    |> method(:delete)
    |> url("/users/me/muted_users/#{muted_user_id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.OneOfobjectobject{}}
    ])
  end

  @doc """
  Update settings
  This endpoint is used to edit the current user's settings.  `PATCH {{ api_url }}/v1/settings`  **Changes**: Prior to Zulip 5.0 (feature level 80), this endpoint only supported the `full_name`, `email`, `old_password`, and `new_password` parameters. Notification settings were managed by `PATCH /settings/notifications`, and all other settings by `PATCH /settings/display`. The feature level 80 migration to merge these endpoints did not change how request parameters are encoded. Note, however, that it did change the handling of any invalid parameters present in a request to change notification or display settings, since the merged endpoint uses the new response format that was introduced for `/settings` in Zulip 5.0 (feature level 78).  The `/settings/display` and `/settings/notifications` endpoints are now deprecated aliases for this endpoint for backwards-compatibility, and will be removed once clients have migrated to use this endpoint. 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :full_name (String.t): A new display name for the user. 
    - :email (String.t): Asks the server to initiate a confirmation sequence to change the user's email address to the indicated value. The user will need to demonstrate control of the new email address by clicking a confirmation link sent to that address. 
    - :old_password (String.t): The user's old Zulip password (or LDAP password, if LDAP authentication is in use).  Required only when sending the `new_password` parameter. 
    - :new_password (String.t): The user's new Zulip password (or LDAP password, if LDAP authentication is in use).  The `old_password` parameter must be included in the request. 
    - :twenty_four_hour_time (boolean()): Whether time should be [displayed in 24-hour notation](/help/change-the-time-format).  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
    - :dense_mode (boolean()): This setting has no effect at present.  It is reserved for use in controlling the default font size in Zulip.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
    - :starred_message_counts (boolean()): Whether clients should display the [number of starred messages](/help/star-a-message#display-the-number-of-starred-messages).  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
    - :fluid_layout_width (boolean()): Whether to use the [maximum available screen width](/help/enable-full-width-display) for the web app's center panel (message feed, recent topics) on wide screens.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
    - :high_contrast_mode (boolean()): This setting is reserved for use to control variations in Zulip's design to help visually impaired users.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
    - :color_scheme (integer()): Controls which [color theme](/help/night-mode) to use.  * 1 - Automatic * 2 - Night mode * 3 - Day mode  Automatic detection is implementing using the standard `prefers-color-scheme` media query.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
    - :enable_drafts_synchronization (boolean()): A boolean parameter to control whether synchronizing drafts is enabled for the user. When synchronization is disabled, all drafts stored in the server will be automatically deleted from the server.  This does not do anything (like sending events) to delete local copies of drafts stored in clients.  **Changes**: New in Zulip 5.0 (feature level 87). 
    - :translate_emoticons (boolean()): Whether to [translate emoticons to emoji](/help/enable-emoticon-translations) in messages the user sends.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
    - :default_language (String.t): What [default language](/help/change-your-language) to use for the account.  This controls both the Zulip UI as well as email notifications sent to the user.  The value needs to be a standard language code that the Zulip server has translation data for; for example, `\"en\"` for English or `\"de\"` for German.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint.  Unnecessary JSON-encoding of this parameter was removed in Zulip 4.0 (feature level 63). 
    - :default_view (String.t): The [default view](/help/change-default-view) used when opening a new Zulip web app window or hitting the `Esc` keyboard shortcut repeatedly.  * \"recent_topics\" - Recent topics view * \"all_messages\" - All messages view  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint.  Unnecessary JSON-encoding of this parameter was removed in Zulip 4.0 (feature level 64). 
    - :left_side_userlist (boolean()): Whether the users list on left sidebar in narrow windows.  This feature is not heavily used and is likely to be reworked.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
    - :emojiset (String.t): The user's configured [emoji set](/help/emoji-and-emoticons#use-emoticons), used to display emoji to the user everything they appear in the UI.  * \"google\" - Google modern * \"google-blob\" - Google classic * \"twitter\" - Twitter * \"text\" - Plain text  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint.  Unnecessary JSON-encoding of this parameter was removed in Zulip 4.0 (feature level 64). 
    - :demote_inactive_streams (integer()): Whether to [demote inactive streams](/help/manage-inactive-streams) in the left sidebar.  * 1 - Automatic * 2 - Always * 3 - Never  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
    - :timezone (String.t): The user's [configured timezone](/help/change-your-timezone).  Timezone values supported by the server are served at [/static/generated/timezones.json](/static/generated/timezones.json).  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint.  Unnecessary JSON-encoding of this parameter was removed in Zulip 4.0 (feature level 64). 
    - :enable_stream_desktop_notifications (boolean()): Enable visual desktop notifications for stream messages.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :enable_stream_email_notifications (boolean()): Enable email notifications for stream messages.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :enable_stream_push_notifications (boolean()): Enable mobile notifications for stream messages.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :enable_stream_audible_notifications (boolean()): Enable audible desktop notifications for stream messages.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :notification_sound (String.t): Notification sound name.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint.  Unnecessary JSON-encoding of this parameter was removed in Zulip 4.0 (feature level 63). 
    - :enable_desktop_notifications (boolean()): Enable visual desktop notifications for private messages and @-mentions.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :enable_sounds (boolean()): Enable audible desktop notifications for private messages and @-mentions.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :email_notifications_batching_period_seconds (integer()): The duration (in seconds) for which the server should wait to batch email notifications before sending them.  **Changes**: New in Zulip 5.0 (feature level 82) 
    - :enable_offline_email_notifications (boolean()): Enable email notifications for private messages and @-mentions received when the user is offline.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :enable_offline_push_notifications (boolean()): Enable mobile notification for private messages and @-mentions received when the user is offline.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :enable_online_push_notifications (boolean()): Enable mobile notification for private messages and @-mentions received when the user is online.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :enable_digest_emails (boolean()): Enable digest emails when the user is away.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :enable_marketing_emails (boolean()): Enable marketing emails. Has no function outside Zulip Cloud.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :enable_login_emails (boolean()): Enable email notifications for new logins to account.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :message_content_in_email_notifications (boolean()): Include the message's content in email notifications for new messages.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :pm_content_in_desktop_notifications (boolean()): Include content of private messages in desktop notifications.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :wildcard_mentions_notify (boolean()): Whether wildcard mentions (E.g. @**all**) should send notifications like a personal mention.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :desktop_icon_count_display (integer()): Unread count summary (appears in desktop sidebar and browser tab)  * 1 - All unreads * 2 - Private messages and mentions * 3 - None  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :realm_name_in_notifications (boolean()): Include organization name in subject of message notification emails.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :presence_enabled (boolean()): Display the presence status to other users when online.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
    - :enter_sends (boolean()): Whether pressing Enter in the compose box sends a message (or saves a message edit).  **Changes**: Before Zulip 5.0 (feature level 81), this setting was managed by the `POST /users/me/enter-sends` endpoint, with the same parameter format. 
  ## Returns

  {:ok, JsonSuccessBase} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec update_settings(Tesla.Env.client, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccessBase.t} | {:error, Tesla.Env.t}
  def update_settings(connection, opts \\ []) do
    optional_params = %{
      :"full_name" => :query,
      :"email" => :query,
      :"old_password" => :query,
      :"new_password" => :query,
      :"twenty_four_hour_time" => :query,
      :"dense_mode" => :query,
      :"starred_message_counts" => :query,
      :"fluid_layout_width" => :query,
      :"high_contrast_mode" => :query,
      :"color_scheme" => :query,
      :"enable_drafts_synchronization" => :query,
      :"translate_emoticons" => :query,
      :"default_language" => :query,
      :"default_view" => :query,
      :"left_side_userlist" => :query,
      :"emojiset" => :query,
      :"demote_inactive_streams" => :query,
      :"timezone" => :query,
      :"enable_stream_desktop_notifications" => :query,
      :"enable_stream_email_notifications" => :query,
      :"enable_stream_push_notifications" => :query,
      :"enable_stream_audible_notifications" => :query,
      :"notification_sound" => :query,
      :"enable_desktop_notifications" => :query,
      :"enable_sounds" => :query,
      :"email_notifications_batching_period_seconds" => :query,
      :"enable_offline_email_notifications" => :query,
      :"enable_offline_push_notifications" => :query,
      :"enable_online_push_notifications" => :query,
      :"enable_digest_emails" => :query,
      :"enable_marketing_emails" => :query,
      :"enable_login_emails" => :query,
      :"message_content_in_email_notifications" => :query,
      :"pm_content_in_desktop_notifications" => :query,
      :"wildcard_mentions_notify" => :query,
      :"desktop_icon_count_display" => :query,
      :"realm_name_in_notifications" => :query,
      :"presence_enabled" => :query,
      :"enter_sends" => :query
    }
    %{}
    |> method(:patch)
    |> url("/settings")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccessBase{}}
    ])
  end

  @doc """
  Update your status
  Change your [status](/help/status-and-availability).  `POST {{ api_url }}/v1/users/me/status`  A request to this endpoint will only change the parameters passed. For example, passing just `status_text` requests a change in the status text, but will leave the status emoji unchanged.  Clients that wish to set the user's status to a specific value should pass all supported parameters. 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :status_text (String.t): The text content of the status message. Sending the empty string will clear the user's status.  **Note**: The limit on the size of the message is 60 characters. 
    - :away (boolean()): Whether the user should be marked as \"away\". 
    - :emoji_name (String.t): The name for the emoji to associate with this status. 
    - :emoji_code (String.t): A unique identifier, defining the specific emoji codepoint requested, within the namespace of the `reaction_type`.  For example, for `unicode_emoji`, this will be an encoding of the Unicode codepoint; for `realm_emoji`, it'll be the ID of the realm emoji. 
    - :reaction_type (String.t): One of the following values:  * `unicode_emoji`: Unicode emoji (`emoji_code` will be its Unicode   codepoint). * `realm_emoji`: [Custom emoji](/help/add-custom-emoji).   (`emoji_code` will be its ID). * `zulip_extra_emoji`: Special emoji included with Zulip.  Exists to   namespace the `zulip` emoji. 
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec update_status(Tesla.Env.client, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:ok, ZulipRESTAPI.Model.OneOfobjectobjectobjectobjectobjectobject.t} | {:error, Tesla.Env.t}
  def update_status(connection, opts \\ []) do
    optional_params = %{
      :"status_text" => :query,
      :"away" => :query,
      :"emoji_name" => :query,
      :"emoji_code" => :query,
      :"reaction_type" => :query
    }
    %{}
    |> method(:post)
    |> url("/users/me/status")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.OneOfobjectobjectobjectobjectobjectobject{}}
    ])
  end

  @doc """
  Update a user
  Administrative endpoint to update the details of another user in the organization.  `PATCH {{ api_url }}/v1/users/{user_id}`  Supports everything an administrator can do to edit details of another user's account, including editing full name, [role](/help/roles-and-permissions), and [custom profile fields](/help/add-custom-profile-fields). 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - user_id (integer()): The target user's ID. 
  - opts (KeywordList): [optional] Optional parameters
    - :full_name (String.t): The user's full name. 
    - :role (integer()): New [role](/help/roles-and-permissions) for the user.  Roles are encoded as:  * Organization owner: 100 * Organization administrator: 200 * Organization moderator: 300 * Member: 400 * Guest: 600  Only organization owners can add or remove the owner role.  The owner role cannot be removed from the only organization owner.  **Changes**: New in Zulip 3.0 (feature level 8), replacing the previous pair of `is_admin` and `is_guest` boolean parameters. Organization moderator role added in Zulip 4.0 (feature level 60). 
    - :profile_data ([map()]): A dictionary containing the to be updated custom profile field data for the user. 
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec update_user(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.CodedError.t} | {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def update_user(connection, user_id, opts \\ []) do
    optional_params = %{
      :"full_name" => :query,
      :"role" => :query,
      :"profile_data" => :query
    }
    %{}
    |> method(:patch)
    |> url("/users/#{user_id}")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.CodedError{}}
    ])
  end

  @doc """
  Update a user group
  Update the name or description of a [user group](/help/user-groups).  `PATCH {{ api_url }}/v1/user_groups/{user_group_id}` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - user_group_id (integer()): The ID of the target user group. 
  - name (String.t): The new name of the group. 
  - description (String.t): The new description of the group. 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec update_user_group(Tesla.Env.client, integer(), String.t, String.t, keyword()) :: {:ok, ZulipRESTAPI.Model.JsonError.t} | {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def update_user_group(connection, user_group_id, name, description, _opts \\ []) do
    %{}
    |> method(:patch)
    |> url("/user_groups/#{user_group_id}")
    |> add_param(:query, :"name", name)
    |> add_param(:query, :"description", description)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}},
      { 400, %ZulipRESTAPI.Model.JsonError{}}
    ])
  end

  @doc """
  Update user group members
  Update the members of a [user group](/help/user-groups).  `POST {{ api_url }}/v1/user_groups/{user_group_id}/members` 

  ## Parameters

  - connection (ZulipRESTAPI.Connection): Connection to server
  - user_group_id (integer()): The ID of the target user group. 
  - opts (KeywordList): [optional] Optional parameters
    - :delete ([integer()]): The list of user ids to be removed from the user group. 
    - :add ([integer()]): The list of user ids to be added to the user group. 
  ## Returns

  {:ok, JsonSuccess} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec update_user_group_members(Tesla.Env.client, integer(), keyword()) :: {:ok, ZulipRESTAPI.Model.JsonSuccess.t} | {:error, Tesla.Env.t}
  def update_user_group_members(connection, user_group_id, opts \\ []) do
    optional_params = %{
      :"delete" => :query,
      :"add" => :query
    }
    %{}
    |> method(:post)
    |> url("/user_groups/#{user_group_id}/members")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %ZulipRESTAPI.Model.JsonSuccess{}}
    ])
  end
end
