/**
 * Zulip REST API
 * Powerful open source group chat 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.CodedError
import org.openapitools.client.model.JsonError
import org.openapitools.client.model.JsonSuccess
import org.openapitools.client.model.JsonSuccessBase
import org.openapitools.client.model.OneOfobjectobject
import org.openapitools.client.model.OneOfobjectobjectobject
import org.openapitools.client.model.OneOfobjectobjectobjectobjectobjectobject
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object UsersApi {

  def apply(baseUrl: String = "https://example.zulipchat.com/api/v1") = new UsersApi(baseUrl)
}

class UsersApi(baseUrl: String) {
  
  /**
   * {!can-create-users-only.md!}  Create a new user account via the API.  `POST {{ api_url }}/v1/users` 
   * 
   * Expected answers:
   *   code 200 : JsonSuccessBase (Success.)
   *   code 400 : JsonError (Bad request.)
   * 
   * @param email The email address of the new user. 
   * @param password The password of the new user. 
   * @param fullName The full name of the new user. 
   */
  def createUser(email: String, password: String, fullName: String): ApiRequest[JsonSuccessBase] =
    ApiRequest[JsonSuccessBase](ApiMethods.POST, baseUrl, "/users", "application/json")
      .withQueryParam("email", email)
      .withQueryParam("password", password)
      .withQueryParam("full_name", fullName)
      .withSuccessResponse[JsonSuccessBase](200)
      .withErrorResponse[JsonError](400)
      

  /**
   * Create a new [user group](/help/user-groups).  `POST {{ api_url }}/v1/user_groups/create` 
   * 
   * Expected answers:
   *   code 200 : JsonSuccess (Success.)
   *   code 400 : JsonError (Bad request.)
   * 
   * @param name The name of the user group. 
   * @param description The description of the user group. 
   * @param members An array containing the user IDs of the initial members for the new user group. 
   */
  def createUserGroup(name: String, description: String, members: Seq[Int]): ApiRequest[JsonSuccess] =
    ApiRequest[JsonSuccess](ApiMethods.POST, baseUrl, "/user_groups/create", "application/json")
      .withQueryParam("name", name)
      .withQueryParam("description", description)
      .withQueryParam("members", ArrayValues(members, MULTI))
      .withSuccessResponse[JsonSuccess](200)
      .withErrorResponse[JsonError](400)
      

  /**
   * Deactivates the user's account.  See also the administrative endpoint for [deactivating another user](/api/deactivate-user).  `DELETE {{ api_url }}/v1/users/me`  This endpoint is primarily useful to Zulip clients providing a user settings UI. 
   * 
   * Expected answers:
   *   code 200 : JsonSuccess (Success.)
   *   code 400 : JsonError (Bad request.)
   */
  def deactivateOwnUser(): ApiRequest[JsonSuccess] =
    ApiRequest[JsonSuccess](ApiMethods.DELETE, baseUrl, "/users/me", "application/json")
      .withSuccessResponse[JsonSuccess](200)
      .withErrorResponse[JsonError](400)
      

  /**
   * [Deactivates a user](https://zulip.com/help/deactivate-or-reactivate-a-user) given their user ID.  `DELETE {{ api_url }}/v1/users/{user_id}` 
   * 
   * Expected answers:
   *   code 200 : JsonSuccess (Success)
   *   code 400 : JsonError (Bad request)
   * 
   * @param userId The target user's ID. 
   */
  def deactivateUser(userId: Int): ApiRequest[JsonSuccess] =
    ApiRequest[JsonSuccess](ApiMethods.DELETE, baseUrl, "/users/{user_id}", "application/json")
      .withPathParam("user_id", userId)
      .withSuccessResponse[JsonSuccess](200)
      .withErrorResponse[JsonError](400)
      

  /**
   * Fetch metadata on files uploaded by the requesting user.  `GET {{ api_url }}/v1/attachments` 
   * 
   * Expected answers:
   *   code 200 : JsonSuccessBase (Success.)
   */
  def getAttachments(): ApiRequest[JsonSuccessBase] =
    ApiRequest[JsonSuccessBase](ApiMethods.GET, baseUrl, "/attachments", "application/json")
      .withSuccessResponse[JsonSuccessBase](200)
      

  /**
   * Get basic data about the user/bot that requests this endpoint.  `GET {{ api_url }}/v1/users/me` 
   * 
   * Expected answers:
   *   code 200 : JsonSuccessBase (Success)
   */
  def getOwnUser(): ApiRequest[JsonSuccessBase] =
    ApiRequest[JsonSuccessBase](ApiMethods.GET, baseUrl, "/users/me", "application/json")
      .withSuccessResponse[JsonSuccessBase](200)
      

  /**
   * Fetch details for a single user in the organization.  `GET {{ api_url }}/v1/users/{user_id}`  You can also fetch details on [all users in the organization](/api/get-users) or [by email](/api/get-user-by-email).  *This endpoint is new in Zulip Server 3.0 (feature level 1).* 
   * 
   * Expected answers:
   *   code 200 : JsonSuccessBase (Success.)
   * 
   * @param userId The target user's ID. 
   * @param clientGravatar Whether the client supports computing gravatars URLs.  If enabled, `avatar_url` will be included in the response only if there is a Zulip avatar, and will be `null` for users who are using gravatar as their avatar.  This option significantly reduces the compressed size of user data, since gravatar URLs are long, random strings and thus do not compress well. The `client_gravatar` field is set to `true` if clients can compute their own gravatars. 
   * @param includeCustomProfileFields Whether the client wants [custom profile field](/help/add-custom-profile-fields) data to be included in the response.  **Changes**: New in Zulip 2.1.0.  Previous versions do no offer these data via the API. 
   */
  def getUser(userId: Int, clientGravatar: Option[Boolean] = None, includeCustomProfileFields: Option[Boolean] = None): ApiRequest[JsonSuccessBase] =
    ApiRequest[JsonSuccessBase](ApiMethods.GET, baseUrl, "/users/{user_id}", "application/json")
      .withQueryParam("client_gravatar", clientGravatar)
      .withQueryParam("include_custom_profile_fields", includeCustomProfileFields)
      .withPathParam("user_id", userId)
      .withSuccessResponse[JsonSuccessBase](200)
      

  /**
   * Fetch details for a single user in the organization given a Zulip display email address.  `GET {{ api_url }}/v1/users/{email}`  Note that this endpoint uses Zulip display emails addresses for organizations that have configured limited [email address visibility](/help/restrict-visibility-of-email-addresses).  You can also fetch details on [all users in the organization](/api/get-users) or [by user ID](/api/get-user).  Fetching by user ID is generally recommended when possible, as users can [change their email address](/help/change-your-email-address).  *This endpoint is new in Zulip Server 4.0 (feature level 39).* 
   * 
   * Expected answers:
   *   code 200 : JsonSuccessBase (Success.)
   * 
   * @param email The email address of the user whose details you want to fetch. 
   * @param clientGravatar Whether the client supports computing gravatars URLs.  If enabled, `avatar_url` will be included in the response only if there is a Zulip avatar, and will be `null` for users who are using gravatar as their avatar.  This option significantly reduces the compressed size of user data, since gravatar URLs are long, random strings and thus do not compress well. The `client_gravatar` field is set to `true` if clients can compute their own gravatars. 
   * @param includeCustomProfileFields Whether the client wants [custom profile field](/help/add-custom-profile-fields) data to be included in the response.  **Changes**: New in Zulip 2.1.0.  Previous versions do no offer these data via the API. 
   */
  def getUserByEmail(email: String, clientGravatar: Option[Boolean] = None, includeCustomProfileFields: Option[Boolean] = None): ApiRequest[JsonSuccessBase] =
    ApiRequest[JsonSuccessBase](ApiMethods.GET, baseUrl, "/users/{email}", "application/json")
      .withQueryParam("client_gravatar", clientGravatar)
      .withQueryParam("include_custom_profile_fields", includeCustomProfileFields)
      .withPathParam("email", email)
      .withSuccessResponse[JsonSuccessBase](200)
      

  /**
   * {!api-members-only.md!}  Fetches all of the user groups in the organization.  `GET {{ api_url }}/v1/user_groups` 
   * 
   * Expected answers:
   *   code 200 : JsonSuccessBase (Success.)
   */
  def getUserGroups(): ApiRequest[JsonSuccessBase] =
    ApiRequest[JsonSuccessBase](ApiMethods.GET, baseUrl, "/user_groups", "application/json")
      .withSuccessResponse[JsonSuccessBase](200)
      

  /**
   * Get the presence status for a specific user.  This endpoint is most useful for embedding data about a user's presence status in other sites (E.g. an employee directory).  Full Zulip clients like mobile/desktop apps will want to use the main presence endpoint, which returns data for all active users in the organization, instead.  `GET {{ api_url }}/v1/users/{user_id_or_email}/presence`  See [Zulip's developer documentation](https://zulip.readthedocs.io/en/latest/subsystems/presence.html) for details on the data model for presence in Zulip. 
   * 
   * Expected answers:
   *   code 200 : JsonSuccessBase (Success.)
   * 
   * @param userIdOrEmail The user_id or Zulip display email address of the user whose presence you want to fetch.  **Changes**: New in Zulip 4.0 (feature level 43). Previous versions only supported identifying the user by Zulip display email. 
   */
  def getUserPresence(userIdOrEmail: String): ApiRequest[JsonSuccessBase] =
    ApiRequest[JsonSuccessBase](ApiMethods.GET, baseUrl, "/users/{user_id_or_email}/presence", "application/json")
      .withPathParam("user_id_or_email", userIdOrEmail)
      .withSuccessResponse[JsonSuccessBase](200)
      

  /**
   * Retrieve details on all users in the organization.  Optionally includes values of [custom profile field](/help/add-custom-profile-fields).  `GET {{ api_url }}/v1/users`  You can also [fetch details on a single user](/api/get-user). 
   * 
   * Expected answers:
   *   code 200 : JsonSuccessBase (Success.)
   * 
   * @param clientGravatar Whether the client supports computing gravatars URLs.  If enabled, `avatar_url` will be included in the response only if there is a Zulip avatar, and will be `null` for users who are using gravatar as their avatar.  This option significantly reduces the compressed size of user data, since gravatar URLs are long, random strings and thus do not compress well. The `client_gravatar` field is set to `true` if clients can compute their own gravatars. 
   * @param includeCustomProfileFields Whether the client wants [custom profile field](/help/add-custom-profile-fields) data to be included in the response.  **Changes**: New in Zulip 2.1.0.  Previous versions do no offer these data via the API. 
   */
  def getUsers(clientGravatar: Option[Boolean] = None, includeCustomProfileFields: Option[Boolean] = None): ApiRequest[JsonSuccessBase] =
    ApiRequest[JsonSuccessBase](ApiMethods.GET, baseUrl, "/users", "application/json")
      .withQueryParam("client_gravatar", clientGravatar)
      .withQueryParam("include_custom_profile_fields", includeCustomProfileFields)
      .withSuccessResponse[JsonSuccessBase](200)
      

  /**
   * This endpoint [mutes a user](/help/mute-a-user).  Messages sent by users you've muted will be automatically marked as read and hidden.  `POST {{ api_url }}/v1/users/me/muted_users/{muted_user_id}`  Muted users should be implemented by clients as follows:  * The server will immediately mark all messages sent by the muted   user as read.  This will automatically clear any existing mobile   push notifications related to the muted user. * The server will mark any new messages sent by the muted user as read   for your account, which prevents all email and mobile push notifications. * Clients should exclude muted users from presence lists or other UI   for viewing or composing 1:1 private messages. 1:1 private messages sent by   muted users should be hidden everywhere in the Zulip UI. * Stream messages and group private messages sent by the muted   user should avoid displaying the content and name/avatar,   but should display that N messages by a muted user were   hidden (so that it is possible to interpret the messages by   other users who are talking with the muted user). * Group private message conversations including the muted user   should display muted users as \"Muted user\", rather than   showing their name, in lists of such conversations, along with using   a blank grey avatar where avatars are displayed. * Administrative/settings UI elements for showing \"All users that exist   on this stream or realm\", e.g. for organization   administration or showing stream subscribers, should display   the user's name as normal.  **Changes**: New in Zulip 4.0 (feature level 48). 
   * 
   * Expected answers:
   *   code 200 : JsonSuccess (Success.)
   *   code 400 : OneOfobjectobjectobject (Bad request.)
   * 
   * @param mutedUserId The ID of the user to mute/un-mute. 
   */
  def muteUser(mutedUserId: Int): ApiRequest[JsonSuccess] =
    ApiRequest[JsonSuccess](ApiMethods.POST, baseUrl, "/users/me/muted_users/{muted_user_id}", "application/json")
      .withPathParam("muted_user_id", mutedUserId)
      .withSuccessResponse[JsonSuccess](200)
      .withErrorResponse[OneOfobjectobjectobject](400)
      

  /**
   * [Reactivates a user](https://zulip.com/help/deactivate-or-reactivate-a-user) given their user ID.  `POST {{ api_url }}/v1/users/{user_id}/reactivate` 
   * 
   * Expected answers:
   *   code 200 : AnyType (Success)
   * 
   * @param userId The target user's ID. 
   */
  def reactivateUser(userId: Int): ApiRequest[AnyType] =
    ApiRequest[AnyType](ApiMethods.POST, baseUrl, "/users/{user_id}/reactivate", "application/json")
      .withPathParam("user_id", userId)
      .withSuccessResponse[AnyType](200)
      

  /**
   * Delete a [user group](/help/user-groups).  `DELETE {{ api_url }}/v1/user_groups/{user_group_id}` 
   * 
   * Expected answers:
   *   code 200 : JsonSuccess (Success.)
   *   code 400 : JsonError (Bad request.)
   * 
   * @param userGroupId The ID of the target user group. 
   */
  def removeUserGroup(userGroupId: Int): ApiRequest[JsonSuccess] =
    ApiRequest[JsonSuccess](ApiMethods.DELETE, baseUrl, "/user_groups/{user_group_id}", "application/json")
      .withPathParam("user_group_id", userGroupId)
      .withSuccessResponse[JsonSuccess](200)
      .withErrorResponse[JsonError](400)
      

  /**
   * Notify other users whether the current user is typing a message.  `POST {{ api_url }}/v1/typing`  Clients implementing Zulip's typing notifications protocol should work as follows:  * Send a request to this endpoint with `op=\"start\"` when a user starts typing a message,   and also every `TYPING_STARTED_WAIT_PERIOD=10` seconds that the user continues to   actively type or otherwise interact with the compose UI (E.g. interacting with the   compose box emoji picker). * Send a request to this endpoint with `op=\"stop\"` when a user pauses using the   compose UI for at least `TYPING_STOPPED_WAIT_PERIOD=5` seconds or cancels   the compose action (if it had previously sent a \"start\" operation for that   compose action). * Start displaying \"Sender is typing\" for a given conversation when the client   receives an `op=\"start\"` event from the [events API](/api/get-events). * Continue displaying \"Sender is typing\" until they receive an `op=\"stop\"` event   from the [events API](/api/get-events) or `TYPING_STARTED_EXPIRY_PERIOD=15`   seconds have passed without a new `op=\"start\"` event for that conversation. * Clients that support displaying stream typing notifications (new in Zulip 4.0)   should indicate they support processing stream typing events via the   `stream_typing_notifications` in the `client_capabilities` parameter to `/register`.  This protocol is designed to allow the server-side typing notifications implementation to be stateless while being resilient; network failures cannot result in a user being incorrectly displayed as perpetually typing.  See [the typing notification docs](https://zulip.readthedocs.io/en/latest/subsystems/typing-indicators.html) for additional design details on Zulip's typing notifications protocol. 
   * 
   * Expected answers:
   *   code 200 : JsonSuccess (Success.)
   *   code 400 : JsonError (Bad request.)
   * 
   * @param op Whether the user has started (`start`) or stopped (`stop`) to type. 
   * @param to For 'private' type it is the user_ids of the recipients of the message being typed. Send a JSON-encoded list of user_ids. (Use a list even if there is only one recipient.)  For 'stream' type it is a single element list containing ID of stream in which the message is being typed.  **Changes**: Before Zulip 2.0, this parameter accepted only a JSON-encoded list of email addresses.  Support for the email address-based format was removed in Zulip 3.0 (feature level 11). 
   * @param `type` Type of the message being composed. 
   * @param topic Topic to which message is being typed. Required for the 'stream' type. Ignored in case of 'private' type. 
   */
  def setTypingStatus(op: String, to: Seq[Int], `type`: Option[String] = None, topic: Option[String] = None): ApiRequest[JsonSuccess] =
    ApiRequest[JsonSuccess](ApiMethods.POST, baseUrl, "/typing", "application/json")
      .withQueryParam("type", `type`)
      .withQueryParam("op", op)
      .withQueryParam("to", ArrayValues(to, MULTI))
      .withQueryParam("topic", topic)
      .withSuccessResponse[JsonSuccess](200)
      .withErrorResponse[JsonError](400)
      

  /**
   * This endpoint unmutes a user.  `DELETE {{ api_url }}/v1/users/me/muted_users/{muted_user_id}`  **Changes**: New in Zulip 4.0 (feature level 48). 
   * 
   * Expected answers:
   *   code 200 : JsonSuccess (Success.)
   *   code 400 : OneOfobjectobject (Bad request.)
   * 
   * @param mutedUserId The ID of the user to mute/un-mute. 
   */
  def unmuteUser(mutedUserId: Int): ApiRequest[JsonSuccess] =
    ApiRequest[JsonSuccess](ApiMethods.DELETE, baseUrl, "/users/me/muted_users/{muted_user_id}", "application/json")
      .withPathParam("muted_user_id", mutedUserId)
      .withSuccessResponse[JsonSuccess](200)
      .withErrorResponse[OneOfobjectobject](400)
      

  /**
   * This endpoint is used to edit the current user's settings.  `PATCH {{ api_url }}/v1/settings`  **Changes**: Prior to Zulip 5.0 (feature level 80), this endpoint only supported the `full_name`, `email`, `old_password`, and `new_password` parameters. Notification settings were managed by `PATCH /settings/notifications`, and all other settings by `PATCH /settings/display`. The feature level 80 migration to merge these endpoints did not change how request parameters are encoded. Note, however, that it did change the handling of any invalid parameters present in a request to change notification or display settings, since the merged endpoint uses the new response format that was introduced for `/settings` in Zulip 5.0 (feature level 78).  The `/settings/display` and `/settings/notifications` endpoints are now deprecated aliases for this endpoint for backwards-compatibility, and will be removed once clients have migrated to use this endpoint. 
   * 
   * Expected answers:
   *   code 200 : JsonSuccessBase (Success)
   * 
   * @param fullName A new display name for the user. 
   * @param email Asks the server to initiate a confirmation sequence to change the user's email address to the indicated value. The user will need to demonstrate control of the new email address by clicking a confirmation link sent to that address. 
   * @param oldPassword The user's old Zulip password (or LDAP password, if LDAP authentication is in use).  Required only when sending the `new_password` parameter. 
   * @param newPassword The user's new Zulip password (or LDAP password, if LDAP authentication is in use).  The `old_password` parameter must be included in the request. 
   * @param twentyFourHourTime Whether time should be [displayed in 24-hour notation](/help/change-the-time-format).  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
   * @param denseMode This setting has no effect at present.  It is reserved for use in controlling the default font size in Zulip.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
   * @param starredMessageCounts Whether clients should display the [number of starred messages](/help/star-a-message#display-the-number-of-starred-messages).  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
   * @param fluidLayoutWidth Whether to use the [maximum available screen width](/help/enable-full-width-display) for the web app's center panel (message feed, recent topics) on wide screens.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
   * @param highContrastMode This setting is reserved for use to control variations in Zulip's design to help visually impaired users.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
   * @param colorScheme Controls which [color theme](/help/night-mode) to use.  * 1 - Automatic * 2 - Night mode * 3 - Day mode  Automatic detection is implementing using the standard `prefers-color-scheme` media query.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
   * @param enableDraftsSynchronization A boolean parameter to control whether synchronizing drafts is enabled for the user. When synchronization is disabled, all drafts stored in the server will be automatically deleted from the server.  This does not do anything (like sending events) to delete local copies of drafts stored in clients.  **Changes**: New in Zulip 5.0 (feature level 87). 
   * @param translateEmoticons Whether to [translate emoticons to emoji](/help/enable-emoticon-translations) in messages the user sends.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
   * @param defaultLanguage What [default language](/help/change-your-language) to use for the account.  This controls both the Zulip UI as well as email notifications sent to the user.  The value needs to be a standard language code that the Zulip server has translation data for; for example, `\"en\"` for English or `\"de\"` for German.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint.  Unnecessary JSON-encoding of this parameter was removed in Zulip 4.0 (feature level 63). 
   * @param defaultView The [default view](/help/change-default-view) used when opening a new Zulip web app window or hitting the `Esc` keyboard shortcut repeatedly.  * \"recent_topics\" - Recent topics view * \"all_messages\" - All messages view  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint.  Unnecessary JSON-encoding of this parameter was removed in Zulip 4.0 (feature level 64). 
   * @param leftSideUserlist Whether the users list on left sidebar in narrow windows.  This feature is not heavily used and is likely to be reworked.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
   * @param emojiset The user's configured [emoji set](/help/emoji-and-emoticons#use-emoticons), used to display emoji to the user everything they appear in the UI.  * \"google\" - Google modern * \"google-blob\" - Google classic * \"twitter\" - Twitter * \"text\" - Plain text  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint.  Unnecessary JSON-encoding of this parameter was removed in Zulip 4.0 (feature level 64). 
   * @param demoteInactiveStreams Whether to [demote inactive streams](/help/manage-inactive-streams) in the left sidebar.  * 1 - Automatic * 2 - Always * 3 - Never  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint. 
   * @param timezone The user's [configured timezone](/help/change-your-timezone).  Timezone values supported by the server are served at [/static/generated/timezones.json](/static/generated/timezones.json).  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/display` endpoint.  Unnecessary JSON-encoding of this parameter was removed in Zulip 4.0 (feature level 64). 
   * @param enableStreamDesktopNotifications Enable visual desktop notifications for stream messages.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param enableStreamEmailNotifications Enable email notifications for stream messages.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param enableStreamPushNotifications Enable mobile notifications for stream messages.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param enableStreamAudibleNotifications Enable audible desktop notifications for stream messages.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param notificationSound Notification sound name.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint.  Unnecessary JSON-encoding of this parameter was removed in Zulip 4.0 (feature level 63). 
   * @param enableDesktopNotifications Enable visual desktop notifications for private messages and @-mentions.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param enableSounds Enable audible desktop notifications for private messages and @-mentions.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param emailNotificationsBatchingPeriodSeconds The duration (in seconds) for which the server should wait to batch email notifications before sending them.  **Changes**: New in Zulip 5.0 (feature level 82) 
   * @param enableOfflineEmailNotifications Enable email notifications for private messages and @-mentions received when the user is offline.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param enableOfflinePushNotifications Enable mobile notification for private messages and @-mentions received when the user is offline.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param enableOnlinePushNotifications Enable mobile notification for private messages and @-mentions received when the user is online.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param enableDigestEmails Enable digest emails when the user is away.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param enableMarketingEmails Enable marketing emails. Has no function outside Zulip Cloud.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param enableLoginEmails Enable email notifications for new logins to account.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param messageContentInEmailNotifications Include the message's content in email notifications for new messages.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param pmContentInDesktopNotifications Include content of private messages in desktop notifications.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param wildcardMentionsNotify Whether wildcard mentions (E.g. @**all**) should send notifications like a personal mention.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param desktopIconCountDisplay Unread count summary (appears in desktop sidebar and browser tab)  * 1 - All unreads * 2 - Private messages and mentions * 3 - None  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param realmNameInNotifications Include organization name in subject of message notification emails.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param presenceEnabled Display the presence status to other users when online.  **Changes**: Before Zulip 5.0 (feature level 80), this setting was managed by the `PATCH /settings/notifications` endpoint. 
   * @param enterSends Whether pressing Enter in the compose box sends a message (or saves a message edit).  **Changes**: Before Zulip 5.0 (feature level 81), this setting was managed by the `POST /users/me/enter-sends` endpoint, with the same parameter format. 
   */
  def updateSettings(fullName: Option[String] = None, email: Option[String] = None, oldPassword: Option[String] = None, newPassword: Option[String] = None, twentyFourHourTime: Option[Boolean] = None, denseMode: Option[Boolean] = None, starredMessageCounts: Option[Boolean] = None, fluidLayoutWidth: Option[Boolean] = None, highContrastMode: Option[Boolean] = None, colorScheme: Option[Int] = None, enableDraftsSynchronization: Option[Boolean] = None, translateEmoticons: Option[Boolean] = None, defaultLanguage: Option[String] = None, defaultView: Option[String] = None, leftSideUserlist: Option[Boolean] = None, emojiset: Option[String] = None, demoteInactiveStreams: Option[Int] = None, timezone: Option[String] = None, enableStreamDesktopNotifications: Option[Boolean] = None, enableStreamEmailNotifications: Option[Boolean] = None, enableStreamPushNotifications: Option[Boolean] = None, enableStreamAudibleNotifications: Option[Boolean] = None, notificationSound: Option[String] = None, enableDesktopNotifications: Option[Boolean] = None, enableSounds: Option[Boolean] = None, emailNotificationsBatchingPeriodSeconds: Option[Int] = None, enableOfflineEmailNotifications: Option[Boolean] = None, enableOfflinePushNotifications: Option[Boolean] = None, enableOnlinePushNotifications: Option[Boolean] = None, enableDigestEmails: Option[Boolean] = None, enableMarketingEmails: Option[Boolean] = None, enableLoginEmails: Option[Boolean] = None, messageContentInEmailNotifications: Option[Boolean] = None, pmContentInDesktopNotifications: Option[Boolean] = None, wildcardMentionsNotify: Option[Boolean] = None, desktopIconCountDisplay: Option[Int] = None, realmNameInNotifications: Option[Boolean] = None, presenceEnabled: Option[Boolean] = None, enterSends: Option[Boolean] = None): ApiRequest[JsonSuccessBase] =
    ApiRequest[JsonSuccessBase](ApiMethods.PATCH, baseUrl, "/settings", "application/json")
      .withQueryParam("full_name", fullName)
      .withQueryParam("email", email)
      .withQueryParam("old_password", oldPassword)
      .withQueryParam("new_password", newPassword)
      .withQueryParam("twenty_four_hour_time", twentyFourHourTime)
      .withQueryParam("dense_mode", denseMode)
      .withQueryParam("starred_message_counts", starredMessageCounts)
      .withQueryParam("fluid_layout_width", fluidLayoutWidth)
      .withQueryParam("high_contrast_mode", highContrastMode)
      .withQueryParam("color_scheme", colorScheme)
      .withQueryParam("enable_drafts_synchronization", enableDraftsSynchronization)
      .withQueryParam("translate_emoticons", translateEmoticons)
      .withQueryParam("default_language", defaultLanguage)
      .withQueryParam("default_view", defaultView)
      .withQueryParam("left_side_userlist", leftSideUserlist)
      .withQueryParam("emojiset", emojiset)
      .withQueryParam("demote_inactive_streams", demoteInactiveStreams)
      .withQueryParam("timezone", timezone)
      .withQueryParam("enable_stream_desktop_notifications", enableStreamDesktopNotifications)
      .withQueryParam("enable_stream_email_notifications", enableStreamEmailNotifications)
      .withQueryParam("enable_stream_push_notifications", enableStreamPushNotifications)
      .withQueryParam("enable_stream_audible_notifications", enableStreamAudibleNotifications)
      .withQueryParam("notification_sound", notificationSound)
      .withQueryParam("enable_desktop_notifications", enableDesktopNotifications)
      .withQueryParam("enable_sounds", enableSounds)
      .withQueryParam("email_notifications_batching_period_seconds", emailNotificationsBatchingPeriodSeconds)
      .withQueryParam("enable_offline_email_notifications", enableOfflineEmailNotifications)
      .withQueryParam("enable_offline_push_notifications", enableOfflinePushNotifications)
      .withQueryParam("enable_online_push_notifications", enableOnlinePushNotifications)
      .withQueryParam("enable_digest_emails", enableDigestEmails)
      .withQueryParam("enable_marketing_emails", enableMarketingEmails)
      .withQueryParam("enable_login_emails", enableLoginEmails)
      .withQueryParam("message_content_in_email_notifications", messageContentInEmailNotifications)
      .withQueryParam("pm_content_in_desktop_notifications", pmContentInDesktopNotifications)
      .withQueryParam("wildcard_mentions_notify", wildcardMentionsNotify)
      .withQueryParam("desktop_icon_count_display", desktopIconCountDisplay)
      .withQueryParam("realm_name_in_notifications", realmNameInNotifications)
      .withQueryParam("presence_enabled", presenceEnabled)
      .withQueryParam("enter_sends", enterSends)
      .withSuccessResponse[JsonSuccessBase](200)
      

  /**
   * Change your [status](/help/status-and-availability).  `POST {{ api_url }}/v1/users/me/status`  A request to this endpoint will only change the parameters passed. For example, passing just `status_text` requests a change in the status text, but will leave the status emoji unchanged.  Clients that wish to set the user's status to a specific value should pass all supported parameters. 
   * 
   * Expected answers:
   *   code 200 : JsonSuccess (Success.)
   *   code 400 : OneOfobjectobjectobjectobjectobjectobject (Success.)
   * 
   * @param statusText The text content of the status message. Sending the empty string will clear the user's status.  **Note**: The limit on the size of the message is 60 characters. 
   * @param away Whether the user should be marked as \"away\". 
   * @param emojiName The name for the emoji to associate with this status. 
   * @param emojiCode A unique identifier, defining the specific emoji codepoint requested, within the namespace of the `reaction_type`.  For example, for `unicode_emoji`, this will be an encoding of the Unicode codepoint; for `realm_emoji`, it'll be the ID of the realm emoji. 
   * @param reactionType One of the following values:  * `unicode_emoji`: Unicode emoji (`emoji_code` will be its Unicode   codepoint). * `realm_emoji`: [Custom emoji](/help/add-custom-emoji).   (`emoji_code` will be its ID). * `zulip_extra_emoji`: Special emoji included with Zulip.  Exists to   namespace the `zulip` emoji. 
   */
  def updateStatus(statusText: Option[String] = None, away: Option[Boolean] = None, emojiName: Option[String] = None, emojiCode: Option[String] = None, reactionType: Option[String] = None): ApiRequest[JsonSuccess] =
    ApiRequest[JsonSuccess](ApiMethods.POST, baseUrl, "/users/me/status", "application/json")
      .withQueryParam("status_text", statusText)
      .withQueryParam("away", away)
      .withQueryParam("emoji_name", emojiName)
      .withQueryParam("emoji_code", emojiCode)
      .withQueryParam("reaction_type", reactionType)
      .withSuccessResponse[JsonSuccess](200)
      .withErrorResponse[OneOfobjectobjectobjectobjectobjectobject](400)
      

  /**
   * Administrative endpoint to update the details of another user in the organization.  `PATCH {{ api_url }}/v1/users/{user_id}`  Supports everything an administrator can do to edit details of another user's account, including editing full name, [role](/help/roles-and-permissions), and [custom profile fields](/help/add-custom-profile-fields). 
   * 
   * Expected answers:
   *   code 200 : JsonSuccess (Success.)
   *   code 400 : CodedError (Bad request.)
   * 
   * @param userId The target user's ID. 
   * @param fullName The user's full name. 
   * @param role New [role](/help/roles-and-permissions) for the user.  Roles are encoded as:  * Organization owner: 100 * Organization administrator: 200 * Organization moderator: 300 * Member: 400 * Guest: 600  Only organization owners can add or remove the owner role.  The owner role cannot be removed from the only organization owner.  **Changes**: New in Zulip 3.0 (feature level 8), replacing the previous pair of `is_admin` and `is_guest` boolean parameters. Organization moderator role added in Zulip 4.0 (feature level 60). 
   * @param profileData A dictionary containing the to be updated custom profile field data for the user. 
   */
  def updateUser(userId: Int, fullName: Option[String] = None, role: Option[Int] = None, profileData: Seq[Any]): ApiRequest[JsonSuccess] =
    ApiRequest[JsonSuccess](ApiMethods.PATCH, baseUrl, "/users/{user_id}", "application/json")
      .withQueryParam("full_name", fullName)
      .withQueryParam("role", role)
      .withQueryParam("profile_data", ArrayValues(profileData, MULTI))
      .withPathParam("user_id", userId)
      .withSuccessResponse[JsonSuccess](200)
      .withErrorResponse[CodedError](400)
      

  /**
   * Update the name or description of a [user group](/help/user-groups).  `PATCH {{ api_url }}/v1/user_groups/{user_group_id}` 
   * 
   * Expected answers:
   *   code 200 : JsonSuccess (Success.)
   *   code 400 : JsonError (Bad request.)
   * 
   * @param userGroupId The ID of the target user group. 
   * @param name The new name of the group. 
   * @param description The new description of the group. 
   */
  def updateUserGroup(userGroupId: Int, name: String, description: String): ApiRequest[JsonSuccess] =
    ApiRequest[JsonSuccess](ApiMethods.PATCH, baseUrl, "/user_groups/{user_group_id}", "application/json")
      .withQueryParam("name", name)
      .withQueryParam("description", description)
      .withPathParam("user_group_id", userGroupId)
      .withSuccessResponse[JsonSuccess](200)
      .withErrorResponse[JsonError](400)
      

  /**
   * Update the members of a [user group](/help/user-groups).  `POST {{ api_url }}/v1/user_groups/{user_group_id}/members` 
   * 
   * Expected answers:
   *   code 200 : JsonSuccess (Success.)
   * 
   * @param userGroupId The ID of the target user group. 
   * @param delete The list of user ids to be removed from the user group. 
   * @param add The list of user ids to be added to the user group. 
   */
  def updateUserGroupMembers(userGroupId: Int, delete: Seq[Int], add: Seq[Int]): ApiRequest[JsonSuccess] =
    ApiRequest[JsonSuccess](ApiMethods.POST, baseUrl, "/user_groups/{user_group_id}/members", "application/json")
      .withQueryParam("delete", ArrayValues(delete, MULTI))
      .withQueryParam("add", ArrayValues(add, MULTI))
      .withPathParam("user_group_id", userGroupId)
      .withSuccessResponse[JsonSuccess](200)
      



}

